.inputContainer{
    width: 400px;
    height: 40px;
}

.innerContainer{
    padding-right: 15px;
    background-color: #454545;
    text-align: end;
    font-size: 25px;
    line-height: 45px;
    color: white;
}

